{% extends "homebase.html" %}

{% block title %} {{ content.title }} {% endblock %}
{% block keywords %} {{ content.keywords}} {% endblock %}
{% block description %} {{ content.description}} {% endblock %}

{% block head %}
    <link rel='shortcut icon' type='image/x-icon' href='{{setting.icon.url}}' />
{% endblock %}


{% block body %}


    <section id="subintro">
        <div class="jumbotron subhead" id="overview">
            <div class="container">
                <div class="row">
                    <div class="span8">
                        <h3><br><i class="m-icon-big-swapright m-icon-white"></i>{{setting.title}}</h3>
                    </div>
                    <div class="span4">
                        <div class="input-append">
                            <form class="form-search" action="/search/" method="post">
                                {% csrf_token %}
                                <input type="text" name="query" class="input-medium search-query">
                                <button type="submit" class="btn btn-inverse">All Categories</button>
                                <ul class="social_small"><br>
                                    <li class="facebook first"><a href="{{setting.facebook}}" title="Facebook">Facebook</a></li>
                                    <li class="twitt"><a href="{{setting.twitter}}" title="Twitter">Twitter</a></li>
                                    <li class="googleplus"><a href="#" title="google plus">Google plus</a></li>
                                    <li class="flickr"><a href="#" title="flickr">Flickr</a></li>
                                    <li class="dribbble"><a href="#" title="Dribbble">Dribbble</a></li>
                                </ul>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="maincontent">
        <div class="container">
            <div class="row">
                <div class="span6">
                    <div id="myCarousel" class="carousel slide testimonials">
                        <div class="carousel-inner">
                            <div class="item active">
                                <div class="testimonial">
                                    <div data-thumb="{{ content.image.url }}" style="height: 360px" >
                                        <img src="{{ content.image.url }}" style="height: 360px; width: 750px" alt=""/>
                                        <blockquote>
                                            <p>
                                            <h2>{{content.title}}</h2>
                                            </p>
                                        </blockquote>
                                    </div>

                                </div>
                            </div>
                            {% for rs in images %}
                                <div class="item">
                                    <div class="testimonial">
                                        <div data-thumb="{{ content.image.url }}" style="height: 360px" >
                                            <img class="zoom" data-pretty="prettyPhoto" src="{{ rs.image.url }}" style="height: 360px; width: 750px" alt=""/>
                                            </a>
                                            <blockquote>
                                                <p>
                                                <h2>{{rs.title}}</h2>
                                                </p>
                                            </blockquote>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
                        <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
                    </div>
                </div>
                <div class="span2"></div>

                <div class="span4">
                    <h2>{{ content.title }}</h2>
                    <div class="row">

                        <div >
                            <table class="table">
                                <tbody>

                                <tr>
                                    <td>{{ content.detail |safe }} </td>
                                </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>


            <!-- divider -->
            <div class="row">
                <div class="span12">
                    <div class="divider"></div>
                </div>
            </div>
            <!-- end divider -->

            <div class="row">
                <div class="span12">
                    <div class="tabbable"> <!-- Only required for left/right tabs -->
                        <ul class="nav nav-tabs">
                            <li ><a href="#tab1" data-toggle="tab">Announcement Detail</a></li>
                            <li class="active"><a href="#tab3" data-toggle="tab">Comments</a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane " id="tab1">
                                <p>{{ content.detail | safe}}</p>
                            </div>

                            <div class="tab-pane active" id="tab3">
                                {% for rs in comments%}
                                    <ul class="media-list">
                                        <li class="media">

                                            <div class="media-body">
                                                <h6><i class="icon-user"></i>{{ rs.user.first_name }}</h6>
                                                <span>Post :{{ rs.create_at }}</span>
                                                <div >
                                                    <i class="icon-star{% if rs.rate < 5 %}-empty {% endif %}"></i>
                                                    <i class="icon-star{% if rs.rate < 4 %}-empty {% endif %}"></i>
                                                    <i class="icon-star{% if rs.rate < 3 %}-empty {% endif %}"></i>
                                                    <i class="icon-star{% if rs.rate < 2 %}-empty {% endif %}"></i>
                                                    <i class="icon-star{% if rs.rate < 1 %}-empty {% endif %}"></i>
                                                </div>
                                            <div>
                                                <h5>{{ rs.subject }}</h5>
                                                <p>{{ rs.comment }}</p>
                                            </div>
                                            </div>
                                        </li>

                                    </ul>
                                {% endfor %}


                                {% if messages %}
                                    <h3><b>Write your comment </b></h3>
                                    {% for message in messages %}
                                        <div class="alert alert-{{ message.tags }}" role="alert">
                                            {{ message }}
                                        </div>
                                    {% endfor %}
                                {% endif %}
                                <form name="comment" action="/event/addcomment/{{ content.id }}" method="post" role="form" class="contactForm">
                                    {% csrf_token %}
                                    <div class="row">
                                        <div class="span12 form-group">
                                            <div class="input-rating">
                                                <h4 class="text-uppercase" > Your Rating : &nbsp;</h4>
                                                <label class="checkbox inline">
                                                    <input type="radio" id="star5" name="rate" value="5"> <i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i>                                               </label>
                                                <label class="checkbox inline">
                                                    <input type="radio" id="star4" name="rate" value="4"> <i class="icon-star-empty"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i>
                                                </label>
                                                <label class="checkbox inline">
                                                    <input type="radio" id="star3" name="rate" value="3"> <i class="icon-star-empty"></i><i class="icon-star-empty"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i>
                                                </label>
                                                <label class="checkbox inline">
                                                    <input type="radio" id="star2" name="rate" value="2"> <i class="icon-star-empty"></i><i class="icon-star-empty"></i><i class="icon-star-empty"></i><i class="icon-star"></i><i class="icon-star"></i>
                                                </label>
                                                <label class="checkbox inline">
                                                    <input type="radio" id="star1" name="rate" value="1"> <i class="icon-star-empty"></i><i class="icon-star-empty"></i><i class="icon-star-empty"></i><i class="icon-star-empty"></i><i class="icon-star"></i>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="span7">
                                            <div class="divider"></div>
                                        </div>

                                        <div class="span7 form-group">
                                            <input type="text" class="input-block-level" id="id_subject" name="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                                            <div class="validation"></div>
                                        </div>

                                        <div class="span7 form-group">
                                            <textarea class="input-block-level" id="id_comment" name="comment" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Comment"></textarea>
                                            <div class="validation"></div>

                                            <div style="text-align: center;">
                                                <input type="hidden" name="token" value="5" />
                                                {% if user.id is not None %}
                                                    <button class="btn btn-medium btn-success" type="submit">Send Comment </button>
                                                {% else %}
                                                    <li>
                                                        <a href="/login"><i class="icon-user"></i>&nbsp;If you want to a comment please login</a>
                                                    </li>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
