{% load static %}

<!-- end tagline -->

<section id="maincontent">
    <div class="container">

        <!-- divider -->
        <div class="row">
            <div class="span12">
                <div class="divider"></div>
            </div>
        </div>
        <!-- end divider -->
        <div class="row">
            <div class="span12">
                <h3><a class="btn btn-large btn-success" href="#"><i class="m-icon-big-swapdown m-icon-white"></i></a> Recent works</h3>
                {% for rs in dayevents %}
                    <div class="span3">
                        <div class="well ">
                            <img src="{{ rs.image.url }}" alt="" />
                            <h3>{{ rs.title }}</h3>
                            <p>
                                {{ rs.detail|safe }}</p>
                            <a href="/event/{{ rs.id }}/{{ rs.slug }}" class="">Read more</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>


<section id="bottom">
    <div class="container">

        <!-- divider -->
        <div class="row">
            <div class="span12">
                <div class="divider"></div>
            </div>
        </div>
        <!-- end divider -->


        <div class="row">
            <div class="span12">
                <h3><a class="btn btn-large btn-success" href="#"><i class="m-icon-big-swapdown m-icon-white"></i></a> Recent works</h3>

                <div class="carousel btleft">
                    <div class="carousel-wrapper">

                        <ul class="client" style="width: 1810px; display: block; margin-left: 0px;">
                            {% for rs in dayevents %}
                                <li style="margin-right: 30px; width: 270px;">
                                    <div class="tooltip-demo thumbnail">

                                        <a href="/event/{{ rs.id }}/{{ rs.slug }}" data-original-title="New House"><img src="{{ rs.image.url }}" alt="" style="height: 250px; width: 270px;"/></a>
                                       <span> <h5>{{rs.title}}</h5></span>
                                    </div>

                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


