{% extends "homebase.html" %}

{% block title %} {{ categorydata.title}} {% endblock %}
{% block keywords %} {{ categorydata.keywords}} {% endblock %}
{% block description %} {{ categorydata.description}} {% endblock %}

{% block head %}
    <link rel='shortcut icon' type='image/x-icon' href='{{categorydata.icon.url}}' />
{% endblock %}


{% block body %}


    <section id="subintro">
        <div class="jumbotron subhead" id="overview">
            <div class="container">
                <div class="row">
                    <div class="span8">
                        <h3><br><i class="m-icon-big-swapright m-icon-white"></i>{{categorydata.title}}</h3>
                    </div>
                    <div class="span4">
                        <div class="input-append">
                            <form class="form-search" action="/search/" method="post">
                                {% csrf_token %}
                                <input type="text" name="query" class="input-medium search-query">
                                <button type="submit" class="btn btn-inverse">All Categories</button>
                                <ul class="social_small"><br>
                                    <li class="facebook first"><a href="{{setting.facebook}}" title="Facebook">Facebook</a></li>
                                    <li class="twitt"><a href="{{setting.twitter}}" title="Twitter">Twitter</a></li>
                                    <li class="googleplus"><a href="#" title="google plus">Google plus</a></li>
                                    <li class="flickr"><a href="#" title="flickr">Flickr</a></li>
                                    <li class="dribbble"><a href="#" title="Dribbble">Dribbble</a></li>
                                </ul>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="maincontent">
        <div class="container">
            <div class="row">
                <ul class="breadcrumb">
                    <li><a href="/">HOME </a></li>
                    <li class="active"> / {{ categorydata.title }}</li>
                </ul>
                <div class="span12">
                    {% for rs in events %}
                        <!-- start article 1 -->
                        <article class="blog-post">
                            <div class="tooltip-demo headline">
                                <h4>{{ rs.title }}</h4>
                            </div>
                            <div class="row">
                                <div class="span4">
                                    <a href="#"><img src="{{ rs.image.url }}" alt=""></a>
                                </div>
                                <div class="span8">
                                    <div class="clearfix"></div>
                                    <p>
                                        {{ rs.detail|safe }}

                                        <span class="comment"><a href="/event/{{ rs.id }}/{{ rs.slug }}" rel="tooltip" data-placement="top" ></a></span>
                                    </p>
                                    <ul class="post-meta">
                                        <li class="first"><i class="icon-user"></i> <span>{{ rs.user.first_name }}</span></li>
                                        <li class="last"><i class="icon-tags"></i> <span><a href="/event/{{ rs.id }}/{{ rs.slug }}">Daha Fazlası</a></span></li>
                                    </ul>
                                </div>

                            </div>
                        </article>
                        <!-- end article 1 -->
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>


{% endblock %}