{% extends "homebase.html" %}

{% block title %} {{ categorydata.title}} {% endblock %}
{% block keywords %} {{ categorydata.keywords}} {% endblock %}
{% block description %} {{ categorydata.description}} {% endblock %}

{% block head %}
    <link rel='shortcut icon' type='image/x-icon' href='{{categorydata.icon.url}}' />
{% endblock %}


{% block body %}


    <section id="subintro">
        <div class="jumbotron subhead" id="overview">
            <div class="container">
                <div class="row">
                    <div class="span8">
                        <h3><br><i class="m-icon-big-swapright m-icon-white"></i>{{categorydata.title}}</h3>
                    </div>

                </div>
            </div>
        </div>
    </section>

    <section id="maincontent">
        <div class="container">
            <div class="row">
                <ul class="breadcrumb">
                    <li><a href="/">HOME </a></li>
                    <li class="active"> / {{ categorydata.title }}</li>
                </ul>
                <div class="span3">
                    <ul class="nav nav-list ">
                        <li><a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;MENU</a> </li>
                        {% load mptt_tags %}
                        {% recursetree category %}
                            <li class="dropdown">
                                <a href="/category/{{ node.id }}/{{ node.slug }}">{{ node.title }}</a>
                                {% if not node.is_leaf_node %}
                                    <ul class="dropdown-menu">
                                        <li><a href="">{{ children }}</a></li>
                                    </ul>
                                {% endif %}
                            </li>
                        {% endrecursetree %}
                    </ul>
                </div>
                <div class="span9">
                    {% for rs in events %}
                        <!-- start article 1 -->
                        <article class="blog-post">
                            <div class="tooltip-demo headline">
                                <h4>{{ rs.title }}</h4>
                            </div>
                            <div class="row">
                                <div class="span3">
                                    <a href="#"><img src="{{ rs.image.url }}" alt=""></a>
                                </div>
                                <div class="span6">
                                    <div class="clearfix"></div>
                                    <p>
                                        {{ rs.detail|safe }}

                                        <span class="comment"><a href="/event/{{ rs.id }}/{{ rs.slug }}" rel="tooltip" data-placement="top" >Daha Fazlası</a></span>
                                    </p>
                                    </div>
                            </div>
                        </article>
                        <!-- end article 1 -->
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>


{% endblock %}