{% load static %}
<header>
    <!-- Navbar
    ================================================== -->
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <!-- logo -->
                <a class="brand logo" href="index.html">
                    <!--  <img src="{% static 'assets/img/logo.png'%}" alt="" />-->
                </a>
                <!-- end logo -->

                <div>
                    <nav>

                        <ul class="nav topnav">

                            <li class="dropdown primary">
                                <a href="/"><i class="icon-home icon-white"></i> Anasayfa</a>
                            </li>
                            {% if menu %}
                                {% load mptt_tags %}
                                {% recursetree menu %}
                                    {% if  node.is_leaf_node %}
                                        <li><a href="/menu/{{ node.id }}">{{ node.title }}</a></li>
                                    {% endif %}
                                    {% if not node.is_leaf_node %}
                                        <li class="dropdown primary">
                                            <a href="/menu/{{ node.id }}"><i class="icon-bookmark icon-white"></i> {{ node.title }}</a>
                                            <ul class="dropdown-menu">{{ children }}</ul>
                                        </li>

                                    {% endif %}
                                {% endrecursetree %}
                            {% endif %}

                            <li class="dropdown primary">
                                <a href="/aboutus"><i class="icon-bullhorn icon-white"></i> Hakkımızda</a>
                            </li>
                            <li class="dropdown primary">
                                <a href="/contact"><i class="icon-envelope icon-white"></i> Bize Ulaşın</a>
                            </li>
                            <li class="dropdown primary">
                                <a href="/references"><i class="icon-envelope icon-white"></i> Referanslarımız</a>
                            </li>
                            {% if user.id is not None %}
                                <li class="inverse">
                                    <a href="/user"><i class="icon-user icon-white">

                                    </i> {{ user.first_name }}</a>

                                    <ul class="dropdown-menu">
                                        <li><a href="/logout">Logout</a></li>
                                    </ul>
                                    {% else %}
                                <li class="inverse">
                                <a href="/login"><i class="icon-user icon-white"></i> Login</a>
                            {% endif %}

                            </li>
                        </ul>

                    </nav>
                </div>
                <!-- end menu -->
            </div>
        </div>
    </div>
</header>
