<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
   <title> {% block title %} Django Dernek-Duyuru Sitesi {% endblock %} </title>
  <meta name="keywords" content="{% block keywords %} Anasayfa anahtar kelimeler{% endblock %}">
  <meta name="description" content="{% block description %} Anasayfa kısa açıklama{% endblock %}">
  <meta name="author" content="">

{% load static %}
<!-- styles -->
  <link href="{% static 'assets/css/bootstrap.css'%}"  rel="stylesheet" >
  <link href="{% static 'assets/css/bootstrap-responsive.css'%}"  rel="stylesheet">
  <link href="{% static 'assets/css/docs.css'%}"  rel="stylesheet" >
  <link href="{% static 'assets/css/prettyPhoto.css'%}"  rel="stylesheet" >
  <link href="{% static 'assets/js/google-code-prettify/prettify.css'%}"  rel="stylesheet">
  <link href="{% static 'assets/css/camera.css'%}"  rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300|Open+Sans:400,300,300italic,400italic" rel="stylesheet">
  <link href="{% static 'assets/css/style.css'%}"  rel="stylesheet">
  <link href="{% static 'assets/color/success.css'%}"  rel="stylesheet">

  <!-- fav and touch icons -->
  <link rel="shortcut icon" href="{% static 'assets/ico/favicon.ico'%}" >
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{% static 'assets/ico/apple-touch-icon-144-precomposed.png'%}" >
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{% static 'assets/ico/apple-touch-icon-114-precomposed.png'%}" >
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{% static 'assets/ico/apple-touch-icon-72-precomposed.png'%}" >
  <link rel="apple-touch-icon-precomposed" href="{% static 'assets/ico/apple-touch-icon-57-precomposed.png'%}" >

  <!-- =======================================================
    Theme Name: Scaffold
    Theme URL: https://bootstrapmade.com/scaffold-bootstrap-metro-style-template/
    Author: BootstrapMade.com
    Author URL: https://bootstrapmade.com
  ======================================================= -->

    {% block head %} {% endblock %}
</head>


<body>

{% include 'header.html' %}
{% block sidebar %} {% endblock %}
{% block slider %} {% endblock %}
{% block content %} {% endblock %}
{% block body %} {% endblock %}
{% include 'footer.html' %}
{% block footer %} {% endblock %}

</body>
</html>