{% extends "homebase.html" %}

{% block title %} Sign Up {{ setting.company}} {% endblock %}
{% block keywords %} {{ setting.keywords}} {% endblock %}
{% block description %} {{ setting.description}} {% endblock %}

{% block head %}
    <link rel='shortcut icon' type='image/x-icon' href='{{setting.icon.url}}' />
{% endblock %}


{% block body %}

    <section id="subintro">
        <div class="jumbotron subhead" id="overview">
            <div class="container">
                <div class="row">
                    <div class="span8">
                        <h3><br><i class="m-icon-big-swapright m-icon-white"></i>Sign UP</h3>
                    </div>
                    <div class="span4">
                        <div class="input-append">
                            <ul class="social_small"><br>

                                <li class="facebook first"><a href="{{setting.facebook}}" title="Facebook">Facebook</a></li>
                                <li class="twitt"><a href="{{setting.twitter}}" title="Twitter">Twitter</a></li>
                                <li class="googleplus"><a href="#" title="google plus">Google plus</a></li>
                                <li class="flickr"><a href="#" title="flickr">Flickr</a></li>
                                <li class="dribbble"><a href="#" title="Dribbble">Dribbble</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="maincontent">
        <div class="container">
            <div class="row">
                <div class="span4"></div>

                <div class="span6">

                    <div class="spacer30"></div>
                    <h4 class="heading-success"><span class="btn btn-small btn-success"><i class="m-icon-big-swapdown m-icon-white"></i></span>&nbsp;&nbsp;Sig Up FORM </h4>


                    <div id="sendmessage">Your message has been sent. Thank you!</div>
                    <div id="errormessage"></div>
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-{{ message.tags }}" role="alert">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}

                    <form method="post">
                        {% csrf_token %}
                        {% for field in form %}
                            <p>
                                {{ field.label_tag }}<br>
                                {{ field }}
                                {% if field.help_text %}
                                    <small style="color:grey">{{ field.help_text }}</small>
                                {% endif %}
                                {% for error in field.errors %}
                                    <p style="color: red">{{ error }}</p>
                                {% endfor %}
                            </p>
                        {% endfor %}
                    <button type="submit">Sign Up</button>
                    </form>
                </div>
            </div>
        </div>
    </section>

{% endblock %}