{% load static %}

<section id="intro">
    <div class="jumbotron masthead">

        <div class="container">
            <div class="row">
                <div class="span3">
                    <ul class="nav nav-list ">
                        <li><a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;CATEGORY</a> </li>
                        {% load mptt_tags %}
                        {% recursetree category %}
                            <li class="dropdown">
                                <a href="/category/{{ node.id }}/{{ node.slug }}">{{ node.title }}</a>
                                {% if not node.is_leaf_node %}
                                    <ul class="dropdown-menu">
                                        <li><a href="">{{ children }}</a></li>
                                    </ul>
                                {% endif %}
                            </li>
                        {% endrecursetree %}
                    </ul>
                </div>
                <div class="span9">
                    <div class="camera_wrap camera_black_skin" id="camera_wrap_2">
                        {% for rs in sliderdata %}

                            <div data-thumb="" data-src="{{ rs.image.url }}" style="height:194px; width:219px">
                                <div class="camera_caption fadeFromBottom">
                                    <a href="/event/{{ rs.id }}/{{ rs.slug }}" class=""><h2>{{ rs.title }}</h2>
                                        <div class="hidden-phone"></a>
                                </div>
                            </div>
                            </div>
                        {% endfor %}

                </div>
                <!-- #camera_wrap_1 -->

            </div>
        </div>
    </div>
    </div>
</section>
