<div class="span3 bs-docs-sidebar">
    <ul class="nav nav-list ">
        <li><a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;USER PANEL</a></li>

        <li><a href="/user"><i class="icon-chevron-right"></i> User Profile</a></li>
        <li><a href="/user/activity"><i class="icon-chevron-right"></i> My Activity</a></li>
        <li><a href="/user/comments"><i class="icon-chevron-right"></i> My Comment</a></li>
        <li class=""><a href="/logout"><i class="icon-chevron-right"></i> Logout</a></li>
    </ul>
</div>